@import "styles/mixins";

.root {
  width: 100%;
}

.swiper {
  --swiper-navigation-color: transparent;
}

:global(.swiper-slide) {
  height: auto;
  display: flex;
}

.card {
  overflow: hidden;
  transform: translateZ(0);
  border-radius: 16px;

  aspect-ratio: 16 / 9;

  @include gradient;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
