@import "styles/mixins";

.button {
  padding: 0.8rem 2.4rem;
  border-radius: 0.8rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: $color-black;
  background-color: $color-white;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
