@import "styles/mixins";

.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.courseList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.courseCard {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.empty {
  font-size: 14px;
  color: $color-white-secondary;
  padding: 24px 0;
}
