@import "styles/mixins";

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 1rem;
}

.nav-link {
  position: relative;
  flex: 1;
  height: 3em;
  padding: 0 0.5em;
  display: grid;
  place-content: center;
  background-color: scale-color($color-white, $lightness: -10%);
  color: $color-black;

  &.active {
    pointer-events: none;
  }
}

.nav-link__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  z-index: 1;
}

.nav-link__title {
  z-index: 2;
}
