@import "styles/mixins";

* {
  @include font-primary;

  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: none;
  text-decoration: none;

  text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scrollbar-gutter: stable;

  background: $color-black;
  color: $color-white;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  user-select: text;
}

#root {
  width: 100%;
  height: 100%;
}
