@use "sass:meta";
@use "sass:map";
@use "sass:math";

@import "styles/theme";
@import "styles/sizes";
@import "styles/typography";
@import "./breakpoints.scss";

@mixin flexGap($row: 0, $col: $row) {
  gap: $row $col;
}

@mixin page {
  padding: 0 30px;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 86px;

  padding-bottom: 30px;

  @include media-down(sm) {
    padding: 0 16px;
    padding-top: 60px;
    padding-bottom: calc(60px + env(safe-area-inset-bottom, 0px));
  }
}

// ≥ breakpoint
@mixin media-up($key) {
  @media (min-width: #{map-get($breakpoints, $key)}px) {
    @content;
  }
}

// ≤ breakpoint
@mixin media-down($key) {
  @media (max-width: #{map-get($breakpoints, $key)}px) {
    @content;
  }
}

// диапазон
@mixin media-between($from, $to) {
  @media (
    min-width: #{map-get($breakpoints, $from)}px
  ) and (
    max-width: #{map-get($breakpoints, $to)}px
  ) {
    @content;
  }
}

@mixin mobile {
  @include media-down(sm) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}
@mixin gradient {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    border-radius: inherit;
    background: $color-overlay-gradient;

    opacity: 0.7;
    transition: opacity 250ms ease;
  }
}
