@import "styles/mixins";

.about-page {
  width: 100%;
  min-height: 100%;
  padding: 5%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  color: $color-black;
}

.title {
  text-align: center;
}
