@import "styles/mixins";

.page {
  @include page;
  display: flex;
  gap: 32px;
  padding-bottom: 72px;

  @include media-down(sm) {
    flex-direction: column;
    gap: 20px;
  }
}

.content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
