@import "styles/mixins";

.error-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  @include flexGap(2rem, 0);
}

.title {
  margin: 0;
}

.text {
  color: scale-color($color-white, $lightness: -20%);
}
