@import "styles/mixins";

.onboarding-page {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  @include flexGap($row: 1rem, $col: 0);
  background-image: url("assets/images/logo.svg"), url("assets/images/logo.svg");
  background-repeat: repeat-x;
  background-size: fluid(50px, 100px) auto;
  background-position:
    center top,
    center bottom;
}

.title {
  text-align: center;
}

.logo {
  width: fluid(100px, 200px);

  &:nth-child(2n) {
    transform: scaleX(-1);
  }
}
