@import "styles/mixins";

.root {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 38px;
  margin-top: 30px;
  @include mobile {
    margin-top: 20px;
  }
}

.inputWrap {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
}

.searchIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 4px 40px;
  gap: 9px;

  background: $color-white;
  border-radius: 12px;

  &::placeholder {
    font-size: 14px;

    color: rgba(25, 33, 38, 0.5);
  }
}

.clearBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  border-radius: 999px;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(25, 33, 38, 0.5);

  &:hover {
    background: rgba(25, 33, 38, 0.06);
  }

  &:active {
    background: rgba(25, 33, 38, 0.1);
  }
}

.clearIcon {
  font-size: 24px;
  margin-bottom: 3px;
}

.filtersBtn {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;

  svg {
    display: block;
  }

  @include hover {
    background: rgba(255, 255, 255, 0.06);
  }

  &:active {
    background: rgba(255, 255, 255, 0.1);
  }
}
