@import "styles/mixins";

.btn {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid $color-bg-tertiary;
  background: $color-bg;
  color: $color-white;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    border-color: $color-accent;
  }
}

.btnValue {
  flex: 1 1 auto;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnCaret {
  flex: 0 0 auto;
  color: rgba($color-white, 0.75);
  font-size: 14px;
  line-height: 1;
}

.inputWrap {
  position: relative;
  width: 100%;
}

.input {
  background: $color-bg;
  border: 1px solid $color-bg-tertiary;
  border-radius: 8px;
  height: 44px;
  padding: 0 12px;
  color: $color-white;
  width: 100%;
  min-width: 150px;
  font-size: 14px;
  padding-right: 40px;

  &:focus-visible {
    outline: none;
    border-color: $color-accent;
  }
}

.inputCaret {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba($color-white, 0.75);
  pointer-events: none;
}
