@import "styles/mixins";

.home-page {
  width: 100%;
  min-height: 100%;
  padding: 5%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  flex-flow: column;
  @include flexGap(0.5rem, 0);
  align-items: center;
}
