@import "styles/mixins";

.root {
  display: none;

  @include mobile {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-bg-second;
  }
}

.item {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.icon {
  display: inline-flex;
  color: $color-white;
  transition: color 150ms ease;
}

.iconActive {
  color: $color-accent;
}
